// @import 'yoga-sass/assets/yoga';
@import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

$c-card: #00b2ff;

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
}

ul {
  margin-left: 0;
  list-style: none;
}

.section {
  padding: 5rem;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.grid__item {
  width: calc(100% / 3 - 4rem);
  margin: 2rem;
}
@import 'shop-card';

.button-bar {
  border-top: $c-card 0.3rem solid;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;

  & > * + * {
    border-left: $c-card 0.3rem solid;
  }

  &__button {
    flex-grow: 1;
    color: $c-card;
  }

  &__button:hover {
    background: $c-card;
    color: #fff;
  }
}

.dropdown {
  position: relative;

  &__list {
    display: none;
    margin: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-72.5%);

  }

  &__button {
    padding: 0.5rem;
    border: $c-card 0.3rem solid;
    margin: 0;
    background:#fff;
    width: 3rem;
    color: $c-card;

    &:hover {
      width: 3.2rem;
      font-size: 1.2rem;
    }
  }

  &__button--pink {
    color: #fe2ab8;
  }

  &__button--blue {
    color: #00d1ff;
  }

  &__button--green {
    color: #00ff0a;
  }

  &__button--yellow {
    color: #ffd600;
  }

  &:hover {
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
}
